{{ header }}
<main>
        <section class="hero_banner">
            <div class="item position-relative" style="--bg:url('../../../../../images/hero_banner1.png');--bg-mb:url('../../../../../images/hero_banner1_mb.png');">
                <div class="container text-center">
                    <div class="text1 mb-lg-5 mb-3 pb-4 text-uppercase">
                    {{ content_top_1 }}
                    </div>
                    <div class="mb-lg-5 mb-3 pb-lg-5 pb-3 col-lg-7 mx-auto px-lg-4">
                        <div class="input-group input-group-lg mb-0">
                            <button class="btn bg-transparent btn-outline-secondary rounded-0 border-end-0" type="button"><img class="icon_search" src="images/search.svg" alt=""></button>
                            <input type="text" class="btn_cta form-control bg-transparent border-secondary rounded-0 border-start-0 text-center" placeholder="WAS SUCHEN SIE" autocomplete="off">
                        </div>
                    </div>
                    <div class="mb-0">
                        <div class="mx-auto hstack gap-lg-3 gap-1 justify-content-center">
                        {{ content_top_2 }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section_mid">
            <div class="container">
                <div class="text1 mb-4">
                    {{ content_bottom_1 }}
                </div>
                <div class="feature vstack gap-4 gap-lg-0">
                    <div class="row align-items-center">
                        <div class="col-lg-6 order-lg-1">{{ content_bottom_3 }}</div>
                        <div class="col-lg-6 order-lg-0">
                            <div class="wap_text">
                                {{ content_bottom_2 }}
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-6 order-lg-0">{{ content_bottom_4 }}</div>
                        <div class="col-lg-6 order-lg-1">
                            <div class="wap_text">
                                {{ content_bottom_5 }}
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-6 order-lg-1">{{ content_bottom_7 }}</div>
                        <div class="col-lg-6 order-lg-0">
                            <div class="wap_text">
                                {{ content_bottom_6 }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section_bot">
            <div class="container h-100">
                <div class="row g-0 h-100 align-items-center">
                    <div class="text1 z-1 position-relative text-white fw-bold text-center text-uppercase">
                   {{ content_bottom_8 }}
                        </div>
                </div>
                {{ content_bottom_9 }}
            </div>
        </section>
    </main>
<!-- <div id="common-home" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    {{ content_morpheus_top }}
    <div id="content" class="{{ class }}">
    <a class="btn btn-primary" href="./vorbestellen/" target="">Rezept einlösen</a>
    <br><br>
     {{ content_morpheus_bottom }}
    {{ content_top }}{{ content_bottom }}
    </div>
    {{ column_right }}</div>
</div> !-->
{{ footer }}