{{ constant('MAILHEADER') }}

	<table>
		<tr><td>{{ text_order_id }}</td><td> {{ order_id }}</td></tr>
		<tr><td>{{ text_date_added }}</td><td>{{ date_added }}</td></tr>
		<tr><td nowrap>{{ text_order_status }}</td><td>{{ order_status }}</td></tr>
	</table>
	
	
	<table><tr><td>
		{{ text_greeting }}
		
		{{ text_change }}
		
		{{ reset }}
		
		{{ text_ip }} 
		
		{{ ip }}
		</td></tr>
		<tr><td> 
			<br/><br/>
			<hr>
			<br/><br/>
		
			{{ constant('FOOTER') }}
		
		</td></tr>
	</table>

</td></tr></table>

</body>
</html>
