{{ mail_header }}

	<!-- {{ payment_address }} -->	7
		
		
<table class="table" style="width: 100%;">
		<tr>
			<td>
               {% if shipping_address %}
        	   		{{ shipping_address }}
        		{% endif %}

				<!-- {{ pdf_address }} -->
			</td>
		</tr>
		<tr>
			<td>
				<br />
				<h2>Auftragsbestätigung Erinnerung</h2>
				
				<p>Liebe(r) {{ firstname }} {{ lastname }},<br/>
				vielen Dank für Deine Bestellung bei uns!</p>
				
				<p>Wir haben Deine Bestellung Nr. {{ order_id }} erhalten und die Blüten für Dich reserviert.</p>
				
				<p>Leider konnten wir bislang noch keinen Zahlungseingang feststellen. Bitte beachte, dass wir Deine Bestellung erst nach Eingang der Zahlung weiterbearbeiten können.</p>
				
				<p>Sollten wir innerhalb der nächsten <b>5 Tage</b> keinen Zahlungseingang verzeichnen, wird die Bestellung automatisch storniert.</p>
				
				<p>Falls Du die Zahlung bereits vorgenommen hast, kannst Du diese Nachricht einfach ignorieren – Deine Bestellung wird dann automatisch freigegeben, sobald der Betrag bei uns eingegangen ist.</p>
				
				<p>Falls Du Fragen hast oder Unterstützung benötigst, melde Dich gerne bei uns.</p>
	
				<p>Bitte überweise den Betrag in Höhe von {{ total }} € mit dem Betreff {{ order_id }} an folgende Bankverbindung:</p>
				<p><b>{{ ACCOUNT }}</b></p>
				
				<table><tr>
					<td><img src="https://www.svapo.de/qrIBAN.php?id={{ order_id }}&total={{ total }}" alt="sepa" style="width:140px;height:140px;"></td>
					<td> &nbsp; </td>
					<td><img src="https://www.svapo.de/images/scanme.png" alt="scan me" style="width:160px;height:56px;"></td>
				</tr></table>
				
				<p>Sobald Deine Zahlung bei uns eingegangen ist, erhältst Du eine Bestätigung. Natürlich informieren wir Dich auch, wenn Deine Blüten auf den Weg zu Dir sind – inklusive DHL-Sendungsnummer.</p>
				
				<p><b>Tipp:</b> Mit einem Kundenkonto kannst Du Bestellungen schneller aufgeben, den Status jederzeit nachverfolgen und vergangene Bestellungen einsehen. Jetzt registrieren: <a href="https://www.svapo.de/index.php?route=account/login">Anmeldung</a></p>
				
				<p>Vielen Dank für Deine Bestellung!</p>
				<p>Viele Grüße, Dein svapo-Team</p>	
			</td>
		</tr>
  </table>

  
  <table style="border-collapse: collapse; width: 100%; margin-bottom: 20px;">
	<thead>
	  <tr>
		<td style="background-color: #EFEFEF; font-weight: bold; text-align: left; padding: 7px; color: #222222;" colspan="2">
			{{ text_order_detail }}
		</td>
	  </tr>
	</thead>
	<tbody>
	  <tr>
		<td style=" border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;">
			<!-- <b>{{ text_order_id }}</b>:&nbsp; {{ order_id }}<br/> -->
			<b>{{ text_date_added }}</b>:&nbsp; {{ date_added }}<br/>
			<b>{{ text_payment_method }}</b>:&nbsp; {{ payment_method }}<br/>
		</td>
		<td style=" border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;">
			<b>{{ text_email }}</b>:&nbsp; {{ email }}<br/>			
		</td>
	  </tr>
	</tbody>
</table>
				  
				  
				  {% if comment %}
	<table style="border-collapse: collapse; width: 100%; border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; margin-bottom: 20px;">
					<thead>
					  <tr>
						<td style=" border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: left; padding: 7px; color: #222222;">{{ text_instruction }}</td>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td style=" border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;">{{ comment }}</td>
					  </tr>
					</tbody>
				  </table>
				  {% endif %}
				  
	<table style="border-collapse: collapse; width: 100%; border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; margin-bottom: 20px;">
					<thead>
					  <tr>
						<td style=" border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: left; padding: 7px; color: #222222;">{{ text_product }}</td>
						<td style=" border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: right; padding: 7px; color: #222222;">{{ text_quantity }}</td>
						<td style=" border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: right; padding: 7px; color: #222222;">{{ text_price }}</td>
						<td style=" border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: right; padding: 7px; color: #222222;">{{ text_total }}</td>
					  </tr>
					</thead>
					<tbody>
					
					{% for product in products %}
					<tr>
					  <td style=" border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;">{{ product.name }}
						{% for option in product.option %}<br/>
						&nbsp;<small> - {{ option.name }}: {{ option.value }}</small>{% endfor %}</td>
					  <td style=" border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{{ product.quantity }}</td>
					  <td style=" border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{{ product.price }}</td>
					  <td style=" border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">
					  {{ product.total }}
						
					  </td>
					</tr>
					{% endfor %}
					{% for voucher in vouchers %}
					<tr>
					  <td style=" border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;">{{ voucher.description }}</td>
					  <td style=" border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">1</td>
					  <td style=" border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{{ voucher.amount }}</td>
					  <td style=" border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{{ voucher.amount }}</td>
					</tr>
					{% endfor %}
					  </tbody>
					
					<tfoot>
					
					{% for total in totals %}
					<tr>
					  <td style=" border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;" colspan="3"><b>{{ total.title }}:</b></td>
					  <td style=" border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{{ total.text }}</td>
					</tr>
					{% endfor %}
					  </tfoot>
					
				  </table>
  
  
  
  
  
  
  
  
  			  <br/><br/>				  
				  {{ mail_footer }}				  
	
		  
  </td></tr></table>
		  
  </body>
  </html>
