<table border="0" cellpadding="10" cellspacing="0" style="max-width: 600px; background: #efefef; padding: 20px;">
		<tr>
			<td>
				<p>{{ text_welcome }}</ß>
				
				{% if not approval %}
				<p>{{ text_login }}</p>
				
				<p>{{ login }}</p>
				
				<p>{{ text_service }}</p>
				
				<p>{{ text_thanks }}</p>
				<p>{{ store }}</p>
				{% else %}
				<p>{{ text_approval }}</p>
				
				<p>{{ login }}</p>
				
				<p>{{ text_thanks }}</p>
				<p>{{ store }}</p>
				{% endif %}

			</td>
		</tr>
		<tr>
			<td> 
				<br/><br/>
				<hr>
				<br/><br/>
				
				{{ mail_footer }}
				
			</td>
		</tr>
	</table>
		
</td></tr></table>
		
</body>
</html>
