{% for product in products %}
<div class="col-lg-4 col-6">
                                <div class="item_sp">
                                    <a class="d-block" href="{{ product.href }}">
                                    <img class="image_sp w-100" src="{{ product.thumb }}" alt="">
                                    <div class="text1 text_ellipsis">
                                    <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                                        </div>
                                    <div class="text2 text_ellipsis">{{ product.description }}</div>
                                    </a>
                                </div>
                            </div>
{% endfor %}