{{ header }}
<main>
        <section class="hero_banner">
            <div class="item position-relative" style="--bg:url('../../../../../images/hero_banner2.png');--bg-mb:url('../../../../../images/hero_banner2_mb.png');">
                <div class="container text-center">
                    <div class="text1 mb-lg-5 mb-3 pb-4 text-uppercase">UNSER
                        ANGEBOT</div>
                    <div class="mb-lg-5 mb-3 pb-lg-5 pb-3 col-lg-7 mx-auto px-lg-4">
                        <div class="input-group input-group-lg mb-0">
                            <button class="btn bg-transparent btn-outline-secondary rounded-0 border-end-0" type="button"><img class="icon_search" src="images/search.svg" alt=""></button>
                            <input type="text" class="btn_cta form-control bg-transparent border-secondary rounded-0 border-start-0 text-center" placeholder="" autocomplete="off">
                        </div>
                    </div>
                    <div class="mb-0">
                        <div class="mx-auto hstack gap-lg-3 gap-1 justify-content-lg-center justify-content-start">
                            <a href="#" class="btn_cta btn btn-lg py-4 btn-light text-uppercase rounded-0">KONTO ERSTELLEN</a>
                            <a href="#" class="btn_cta btn btn-lg py-4 btn-light text-uppercase rounded-0">Rezept hochladen</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="product">
            <div class="container container_product">
                <div class="box_vang bg-warning text-center py-lg-4 py-1 px-4 d-flex align-items-center justify-content-center">
                    <img class="icon_whatsapp me-1" src="images/whatsapp.svg" alt=""><a href="#"><span class="text1"><strong>Preis-Check?</strong> JETZT PASSWORT PER WHATSAPP ANFORDERN! ᐳ</span></a>
                </div>
                <div class="row g-0">
                    <div class="col_left col-lg-auto pb-4">
                        <div class="vstack gap-lg-5 gap-4">
                           {{ column_left }}
                        </div>
                    </div>
                    <div class="col_right col-lg-auto">
                        <div class="row row_sp">
                            <div class="col-lg-4 col-6">
                                <div class="item_sp">
                                    <a class="d-block" href="#">
                                    <img class="image_sp w-100" src="images/placeholder.png" alt="">
                                    <div class="text1 text_ellipsis">HAPA pharm
                                        Cannabis flos</div>
                                    <div class="text2 text_ellipsis">Amnesia Kush</div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-6">
                                <div class="item_sp">
                                    <a class="d-block" href="#">
                                        <img class="image_sp w-100" src="images/placeholder.png" alt="">
                                        <div class="text1 text_ellipsis">ENUA 22/1
                                            JFG CA</div>
                                        <div class="text2 text_ellipsis">Jet Fuel Gelato</div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-6">
                                <div class="item_sp">
                                    <a class="d-block" href="#">
                                        <img class="image_sp w-100" src="images/placeholder.png" alt="">
                                        <div class="text1 text_ellipsis">CANNABIS 1A
                                            18/1 FLOS</div>
                                        <div class="text2 text_ellipsis">White Widow</div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-6">
                                <div class="item_sp">
                                    <a class="d-block" href="#">
                                        <img class="image_sp w-100" src="images/placeholder.png" alt="">
                                        <div class="text1 text_ellipsis">CANNABISBL
                                            REMEXIAN 22/1</div>
                                        <div class="text2 text_ellipsis">Frosted Lemon Cake</div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-6">
                                <div class="item_sp">
                                    <a class="d-block" href="#">
                                        <img class="image_sp w-100" src="images/placeholder.png" alt="">
                                        <div class="text1 text_ellipsis">NAVCORA CANNBL
                                            THC22 SPO P</div>
                                        <div class="text2 text_ellipsis">Galaxy Walker OG</div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-6">
                                <div class="item_sp">
                                    <a class="d-block" href="#">
                                        <img class="image_sp w-100" src="images/placeholder.png" alt="">
                                        <div class="text1 text_ellipsis">DRAPALIN
                                            18/1 Cheesotho</div>
                                        <div class="text2 text_ellipsis">Exodus Cheese</div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-6">
                                <div class="item_sp">
                                    <a class="d-block" href="#">
                                        <img class="image_sp w-100" src="images/placeholder.png" alt="">
                                        <div class="text1 text_ellipsis">DRAPALIN 1/17
                                            MALUTI CBD</div>
                                        <div class="text2 text_ellipsis">Otto Kush</div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-6">
                                <div class="item_sp">
                                    <a class="d-block" href="#">
                                        <img class="image_sp w-100" src="images/placeholder.png" alt="">
                                        <div class="text1 text_ellipsis">IMC CANNABISBLUE
                                            THC20 T01</div>
                                        <div class="text2 text_ellipsis">Hindu Kush</div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-6">
                                <div class="item_sp">
                                    <a class="d-block" href="#">
                                        <img class="image_sp w-100" src="images/placeholder.png" alt="">
                                        <div class="text1 text_ellipsis">IMC CANNABISBLUE
                                            THC25 T04</div>
                                        <div class="text2 text_ellipsis">Strawberry OG</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>





<div id="product-category" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h2>{{ heading_title }}</h2>
      {% if thumb or description %}
      <div class="row"> {% if thumb %}
        <div class="col-sm-2"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" /></div>
        {% endif %}
        {% if description %}
        <div class="col-sm-10">{{ description }}</div>
        {% endif %}</div>
      <hr>
      {% endif %}
      {% if categories %}
      <h3>{{ text_refine }}</h3>
      {% if categories|length <= 5 %}
      <div class="row">
        <div class="col-sm-3">
          <ul>
            {% for category in categories %}
            <li><a href="{{ category.href }}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% else %}
      <div class="row">{% for category in categories|batch((categories|length / 4)|round(1, 'ceil')) %}
        <div class="col-sm-3">
          <ul>
            {% for child in category %}
            <li><a href="{{ child.href }}">{{ child.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}</div>
      <br/>
      {% endif %}
      {% endif %}
      {% if products %}
      <div class="row">
        <div class="col-md-2 col-sm-6 hidden-xs">
          <div class="btn-group btn-group-sm">
            <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
            <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="form-group"><a href="{{ compare }}" id="compare-total" class="btn btn-link">{{ text_compare }}</a></div>
        </div>
        <div class="col-md-4 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
            <select id="input-sort" class="form-control" onchange="location = this.value;">
              {% for sorts in sorts %}
              {% if sorts.value == '%s-%s'|format(sort, order) %}
              <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
              {% else %}
              <option value="{{ sorts.href }}">{{ sorts.text }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
            <select id="input-limit" class="form-control" onchange="location = this.value;">
              {% for limits in limits %}
              {% if limits.value == limit %}
              <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
              {% else %}
              <option value="{{ limits.href }}">{{ limits.text }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="row"> {% for product in products %}
        <div class="product-layout product-list col-xs-12">
          <div class="product-thumb">
            <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
            <div>
              <div class="caption">
                <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                <p>{{ product.description }}</p>
                {% if product.price %}
                {% if product.login %}
                <p class="price"> {% if not product.special %}
                  {{ product.price }}
                  {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
                  {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>
                {% endif %}
                {% endif %}
                {% if product.rating %}
                <div class="rating"> {% for i in 1..5 %}
                  {% if product.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>{% endif %}
                  {% endfor %} </div>
                {% endif %} </div>
            </div>
          </div>
        </div>
        {% endfor %} </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      {% endif %}
      {% if not categories and not products %}
      <p>{{ text_empty }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }} 
