{% for product in products %}
							<div class="col-md-4 col-lg-4 col-xl-3 col-12 product-grid">
								<div class="item_sp h-100">
									<div class="column-1 hide productThumb">
										<a class="d-block" href="{{ product.href }}"><img class="image_sp" src="{{ product.thumb }}" alt="{{ product.name }}"></a>
									</div>
									
									<div class="mobile-col-1">										
										<div class="text1 text_ellipsis column-2">
											<h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
										</div>
										<div class="text2 text_ellipsis mb-4 column-4">
											<b>{{ product.price }}</b> / Gramm
										</div>						
										<div class="mb-4 column-4 isstock">
											{{ product.stock }}													 
										</div>
									</div>
									
									<table class="table table-bordered table-list-view">
										<tbody>							
											<!--		
											<tr>
												  <td class="td-list-view">
													  {{ text_Lager }}
												  </td>
												  <td>
													  {{ product.stock }}													 
												  </td>
											</tr>
										-->
											<tr>
												  <td class="td-list-view">
													  {{ text_Kultivar }}   													  
												  </td>
												  <td>{{ product.Kultivar }}</td>
											</tr>
											<tr class="thc-list-view">
												  <td>
													  {{ text_THC }}     	
												  </td>
												  <td>{{ product.THC }}</td>
											</tr>
											<tr>
												  <td class="td-list-view">
													  {{ text_Hersteller }} 													  
												  </td>
												  <td class="img-list-view">
													<img src="./mthumb.php?h=30&amp;src=image/{{ product.manufacturer_image }}" alt="{{ product.name }}" class="hersteller" />
												  </td>
											</tr>
											<tr class="next-row">
												<td colspan="2">
							
									<div class="attribute_product_in_category">
										<ul>
							
									{% for group in product.attributes_list %}
										{% set listAttribute = group.list %}
							
										{% for attribute in listAttribute %}
											{% if attribute.image is not empty %}
												<li class="icon"><img src="uploads/icon/{{ attribute.image }}" class="icon_attribute"/>{{ attribute.name }}</li>
											{% else %}
												<!--<li>{{ attribute.name }}</li>-->
											{% endif %}
										{% endfor %}							
									{% endfor %}
							
										</ul>
									</div>
									
												</td>
											</tr>
										  </tbody>
									  </table>
									
									<!--<div class="text2 text_ellipsis column-3">{{ product.description }}</div>-->
																		
								</div>
							</div>
{% endfor %}
