{{ header }}
<main>
        <section class="hero_banner">
            <div class="item position-relative" style="--bg:url('../../../../../images/hero_banner2.png');--bg-mb:url('../../../../../images/hero_banner2_mb.png');">
                <div class="container text-center">
                    <div class="text1 mb-lg-5 mb-3 pb-4 text-uppercase">UNSER
                        ANGEBOT</div>
                    <div class="mb-lg-5 mb-3 pb-lg-5 pb-3 col-lg-7 mx-auto px-lg-4">
                        <div class="input-group input-group-lg mb-0">
                            <button class="btn bg-transparent btn-outline-secondary rounded-0 border-end-0" type="button"><img class="icon_search" src="images/search.svg" alt=""></button>
                            <input type="text" class="btn_cta form-control bg-transparent border-secondary rounded-0 border-start-0 text-center" placeholder="" autocomplete="off">
                        </div>
                    </div>
                    <div class="mb-0">
                        <div class="mx-auto hstack gap-lg-3 gap-1 justify-content-lg-center justify-content-start">
                            <a href="#" class="btn_cta btn btn-lg py-4 btn-light text-uppercase rounded-0">KONTO ERSTELLEN</a>
                            <a href="#" class="btn_cta btn btn-lg py-4 btn-light text-uppercase rounded-0">Rezept hochladen</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="product">
            <div class="container container_product">
                <div class="box_vang bg-warning text-center py-lg-4 py-1 px-4 d-flex align-items-center justify-content-center">
                    <img class="icon_whatsapp me-1" src="images/whatsapp.svg" alt=""><a href="#"><span class="text1"><strong>Preis-Check?</strong> JETZT PASSWORT PER WHATSAPP ANFORDERN! ᐳ</span></a>
                </div>
                <div class="row g-0">
                    <div class="col_left col-lg-auto pb-4">
                        <div class="vstack gap-lg-5 gap-4">
                           {{ column_left }}
                        </div>
                    </div>
                    <div class="col_right col-lg-auto">
                        <div class="row row_sp">
{% for product in products %}
<div class="col-lg-4 col-6">
                                <div class="item_sp">
                                    <a class="d-block" href="{{ product.href }}">
                                    <img class="image_sp w-100" src="{{ product.thumb }}" alt="">
                                    <div class="text1 text_ellipsis">
                                    <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                                        </div>
                                    <div class="text2 text_ellipsis">{{ product.description }}</div>
                                    </a>
                                </div>
                            </div>
{% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{{ footer }}
<script>
var targetClass = 'section.product';

  // Get the top position of the element with the specified class
  var targetPosition = $(targetClass).first().offset().top;

  // Perform the scroll animation
  $('html, body').animate({
    scrollTop: targetPosition
  }, 'slow');
</script> 
