{{ header }}
<main>
        <section class="hero_banner cat">
            <div class="item position-relative" style="--bg:url('../../../../../images/hero_banner2.jpg');--bg-mb:url('../../../../../images/hero_banner2_mb.jpg');">
                <div class="container text-center">
                    <div class="text1 mb-lg-5 mb-3 pb-4 text-uppercase">UNSER
                        ANGEBOT</div>
                    <div class="mb-lg-5 mb-3 pb-lg-5 pb-3 col-lg-7 mx-auto px-lg-4">
                        <form action="./index.php" method="get" class="suche">
							<div class="input-group input-group-lg mb-0">
								<input type="hidden" name="route" value="product/search">
								<input type="hidden" name="description" value="true">
								<input type="text" name="search" class="btn_search btn_cta form-control bg-transparent border-secondary rounded-0 border-0 text-center" placeholder="WAS SUCHST DU?" autocomplete="off">
								<button class="btn bg-transparent btn-outline-secondary rounded-0 border-end-0" type="submit"><img class="icon_search" src="images/search2.svg" alt="Canabis Suche"></button>
							</div>
						</form>
                    </div>
                    <div class="mb-0">
                        <div class="mx-auto hstack gap-lg-3 gap-1 justify-content-lg-center justify-content-start">
							{% if logged %}

							{% else %}
								<a href="./index.php?route=account/account" class="btn_cta btn btn-lg py-4 btn-light text-uppercase rounded-0">KONTO ERSTELLEN</a>			
							{% endif %}
                            <a href="./vorbestellen" class="btn_cta btn btn-lg py-4 btn-light text-uppercase rounded-0">Rezept hochladen</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>		
		
		<div class="start"></div>
				
        <section class="megamenu">
			<div class="container">
				   {{ column_left }}					
			</div>
		</section>
		
		<section>
            <div class="container">				
                <div class="row">
					<div class="col-md-4 col-sm-6 hidden-xs">
      			  		<div class="btn-group btn-group-sm">
        					<button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
        					<button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
      					</div>
    				</div>
					<div class="col-md-6 col-sm-6">
					<div class="form-group input-group input-group-sm short_price_name">
            <label class="input-group-addon label_short" for="input-sort">{{ text_sort }}</label>
            <select id="input-sort" class="form-control" onchange="location = this.value;">
              {% for sorts in sorts %}
              {% if sorts.value == '%s-%s'|format(sort, order) %}
              <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
              {% else %}
              <option value="{{ sorts.href }}">{{ sorts.text }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
					</div>
				</div>
				</div>
			</div>
		</section>
						
		<section class="product">
			<div class="container container_product" id="content">				
				<div class="row g-0">
                    <div class="col_right-OFF col-lg--auto">
	                    <i class="fa fa-spinner loading" aria-hidden="true"></i>
                    	
<div class="row row_sp d-flex flex-rows">
	
{% for product in products %}
{% if product.stockid != 5 %}
							<div class="col-md-4 col-lg-4 col-xl-3 col-12 product-grid CTA" ref="{{ product.href }}">
                                <div class="item_sp h-100">
                                    <div class="column-1 hide productThumb">
										<a class="d-block" href="{{ product.href }}"><img class="image_sp" src="{{ product.thumb }}" alt="{{ product.name }}"></a>
									</div>
									
									<div class="mobile-col-1">										
                                    	<div class="text1 text_ellipsis column-2">
                                    		<h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                                    	</div>
										<div class="text2 text_ellipsis mb-4 column-4 price">
											<b>{{ product.price }}</b> / Gramm
										</div>						
										<div class="mb-4 column-4 isstock">
											{{ product.stock }}		 
										</div>
									</div>
									
									<table class="table table-bordered table-list-view">
										<tbody>							
										<!--		
											<tr>
												  <td class="td-list-view">
													  {{ text_Lager }}
												  </td>
												  <td>
													  {{ product.stock }}													 
												  </td>
											</tr>
										-->
											<tr>
												  <td class="td-list-view">
													  {{ text_Kultivar }}   													  
												  </td>
												  <td>{{ product.Kultivar }}</td>
											</tr>
											<tr class="thc-list-view">
												  <td>
													  {{ text_THC }}     	
												  </td>
												  <td>{{ product.THC }}</td>
											</tr>
											<tr>
												  <td class="td-list-view">
													  {{ text_Hersteller }} 													  
												  </td>
												  <td class="img-list-view">
													<img src="./mthumb.php?h=30&amp;src=image/{{ product.manufacturer_image }}" alt="{{ product.name }}" class="hersteller" />
												  </td>
											</tr>
											<tr class="next-row">
												<td colspan="2">

									<div class="attribute_product_in_category">
										<ul>

									{% for group in product.attributes_list %}
										{% set listAttribute = group.list %}

										{% for attribute in listAttribute %}
											{% if attribute.image is not empty %}
												<li class="icon"><img src="uploads/icon/{{ attribute.image }}" class="icon_attribute"/>{{ attribute.name }}</li>
											{% else %}
												<!--<li>{{ attribute.name }}</li>-->
											{% endif %}
										{% endfor %}							
									{% endfor %}

										</ul>
									</div>
									
												</td>
											</tr>
										  </tbody>
									  </table>
									
                                    <!--<div class="text2 text_ellipsis column-3">{{ product.description }}</div>-->
									                                    
                                </div>
                            </div>
{% endif %}
{% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{{ footer }}
<script>
	var targetClass = 'div.start';

	// Get the top position of the element with the specified class
	var targetPosition = $(targetClass).first().offset().top;
	
	// Perform the scroll animation
	$('html, body').animate({
		scrollTop: targetPosition 
	}, 'slow');
</script> 
