{{ header }}
<main>
        <section>
                <div class="container text-center">                    
                    <div class="mb-0">
                        <div class="me-auto hstack gap-lg-3 gap-1 justify-content-end">
							{% if logged %}

							{% else %}
								<a href="./index.php?route=account/account" class="btn_cta btn btn-lg py-2 text-uppercase rounded-0">LOGIN</a>			
							{% endif %}
                            <a href="./vorbestellen" class="btn_cta btn btn-info btn-lg py-2 btn-light text-uppercase rounded-0">Rezept hochladen</a>
                        </div>
                    </div>
                </div>
				<input type="hidden" id="atb" value={{ atb }}/>
				<input type="hidden" id="manufactors" value={{ manufactor_id }}/>
		</section>		
		
		<div class="start"></div>
				
        <section class="megamenu">
			<div class="container">
				<div class="row">
					<div class="col hidden-md view">
						<div class="btn-group btn-group-sm">
							<button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-bars"></i></button>
							<button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
						</div>
					</div>
					{{ column_left }}					
					<div class="col">
						<div class="form-group input-group input-group-sm short_price_name">
							<select id="input-sort" class="form-control" onchange="location = this.value;">
							{% for sorts in sorts %}
							{% if sorts.value == '%s-%s'|format(sort, order) %}
							<option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
							{% else %}
							<option value="{{ sorts.href }}">{{ sorts.text }}</option>
							{% endif %}
							{% endfor %}
							</select>
						</div>
					</div>
					<div class="col">
						<!--<a href="#" class="btn btn-default resetfilter">Reset Filter</a>-->
						<a href="./shop/" class="btn btn-default">Reset Filter</a>
					</div>
				</div>
			</div>
		</section>
		
		<section>
            <div class="container">				
                <div class="row">
				</div>
				</div>
			</div>
		</section>
						
		<section class="product">
			<div class="container container_product" id="content">				
	                    <i class="fa fa-spinner loading" aria-hidden="true"></i>
                    	
						<div class="row row_product">
							<div class="col-12 product-layout product-list first-row">
									<div class="co ">						
									  Produkt
									</div>
									<div class="co ">						
										Strain
									</div>
									<div class="co ">
										Genetik
									</div>
									<div class="co land">
										Land
									</div>
									<div class="co sml">						
										{{ text_THC }}     	
									</div>
									<div class="co sml">						
										CBD 	
									</div>
									<div class="co Behandlung">
										Behandlung		
									</div>
									<div class="co ">
										{{ text_Hersteller }}										
									</div>
									<div class="co ">
										Bestand
									</div>
									<div class="co price">
										Preis / g
									</div>
							
							</div>
	
<div>Total {{ count_product }} results found </div>
{% for product in products %}
						<a href="{{ product.href }}" class="col-12 col-md-6 col-lg-4 col-xl-3 col-12 product-grid">
                        	<div class="co coList">										
                           		<h4>xxxxxxxx{{ product.name }}</h4>
							</div>									
							<div class="co coList">						
							  {{ product.Kultivar }}
							</div>
							<div class="co coList">
									{% for group in product.attributes_list %}
										{% set listAttribute = group.list %}
									
										{% for attribute in listAttribute %}
											{% set name_lower = attribute.name|lower %}
											{% if 'hybrid' in name_lower or 'sativa' in name_lower or 'indica' in name_lower %}
												{{ attribute.name }}
											{% endif %}
										{% endfor %}
									{% endfor %}
							</div>
							<div class="co coList land">						
								  {{ product.country }}
							</div>
							<div class="co coList sml">						
			  					{{ product.THC }}
							</div>
							<div class="co coList sml">						
								  {{ product.CBD }}
							</div>
							<div class="co coList Behandlung">						
								  {{ product.Behandlung }}
							</div>
							<div class="co coList">						
								<img src="./mthumb.php?h=30&amp;src=image/{{ product.manufacturer_image }}" alt="{{ product.name }}" class="hersteller" />
							</div>
							<div class="co coList">
								{{ product.stock }}													 
							</div>
							<div class="co coList price">						
								<b>{{ product.price }}</b>
							</div>
							
							<!-- v2 grid version --> 

							<div class="coGrid">
								<div class="">
									<div class="bg-light2">
										
										<div class="grid-row">										
											<div class="row">
												<div class="col-12 hybrid-row rel">	
													{% set matching_attributes = [] %}
													
													{% for group in product.attributes_list %}
														{% set listAttribute = group.list %}
													
														{% for attribute in listAttribute %}
															{% set name_lower = attribute.name|lower %}
															{% if 'hybrid' in name_lower or 'sativa' in name_lower or 'indica' in name_lower %}
																{% set matching_attributes = matching_attributes|merge([attribute.name]) %}
															{% endif %}
														{% endfor %}
													{% endfor %}
													
													{% if matching_attributes is not empty %}
														<div class="hybrid">
															<span class="badge bg-secondary {{ matching_attributes|join(', ') }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ matching_attributes|join(', ') }}">{{ matching_attributes|join(', ') }}</span>
														</div>
													{% endif %}
												</div>
												<div class="col-8">
													<h4>{{ product.name }}<br />
												{{ product.Kultivar }}</h4>
												</div>
												<div class="col-4">														
													<span class="badge bg-primary">{{ product.THC }} THC</span>	
													<span class="badge bg-primary">{{ product.CBD }} CBD</span>
												</div>
											</div>
										</div>
										
										<div class="grid-row">
											<div class="row thc">
												<div class="col-6">						
													<div class="grid-stock">
														{{ product.stock }}	
													</div>
													<div class="grid-land">
														<b>{{ product.country }}</b>
													</div>

												</div>
												<div class="col-12 col-md-6 text-right icons">
													<span class="icon"><img src="images/{{ product.Behandlung }}.svg" class="icon_attribute" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="{{ product.Behandlung }}""></span><br />

													{% for group in product.attributes_list %}
														{% set listAttribute = group.list %}
													
														{% for attribute in listAttribute %}
															{% set name_lower = attribute.name|lower %}
															{% if 'hybrid' in name_lower or 'sativa' in name_lower or 'indica' in name_lower %}								
															{% else %}
																{% if attribute.image is not empty %}
																	<span class="icon"><img src="uploads/icon/{{ attribute.image }}" class="icon_attribute" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ attribute.name }}"/>
																	</span>
																{% endif %}
															{% endif %}
														{% endfor %}							
													{% endfor %}
												</div>
											</div>
										</div>
									</div>									
									<div class="grid-row ps-4 pe-4 grid-mobileOff">	
										<div class="row">
											<div class="col-3">						
											</div>
											<div class="col-12 col-md-6 grid-img">						
												<img class="image_sp" src="{{ product.thumb }}" alt="{{ product.name }}">
											</div>
											<div class="col-3">						
											</div>
										</div>
									</div>
									
									<div class="grid-row ps-4 pe-4 price-logo">	
										<div class="row h-100">
											<div class="col-6 grid-price">						
												<b>{{ product.price }}</b>
												<span>Gramm</span>
											</div>
											<div class="col-6 grid-logo">						
												<img src="./mthumb.php?h=30&amp;src=image/{{ product.manufacturer_image }}" alt="{{ product.name }}" class="hersteller" />											
											</div>
										</div>
									</div>
								
								</div>
							</div>
							
						</a>
{% endfor %}
                        </div>
                    </div>
        </section>
    </main>
{{ footer }}
<script>
    function resetFilter() {
        var listAttribute = '';

        $('.filter_attribute').each(function(){
          $(this).prop('checked', false);
		})

        var currentURL = window.location.href;
        //alert(currentURL);

        $('.product .row_product').hide();
        $('.loading').show();

        $.ajax({
            url: (!currentURL.includes('order') && !currentURL.includes('atb')) ? currentURL + '?filter_atb=true' + '&atb_id=' +listAttribute : currentURL + '&filter_atb=true' + '&atb_id=' +listAttribute,  // URL to fetch data from
            method: 'GET', // HTTP method
            success: function(data) {
               $('.product .row_product').html(data);
               $('.product .row_product').show();
               $('.loading').hide();

               if($('#list-view').hasClass('active'))
                 $('#list-view').click();

               if($('#grid-view').hasClass('active'))
                 $('#grid-view').click();
            },
            error: function(xhr, status, error) {
                // Handle error response
                console.error(status + ": " + error); // Log error to console
            }
        });
	}

	function prefillATB() {
        var atb = $('#atb').val().replace('/', '');
        var atbList = [];

		var manufactors = $('#manufactors').val().replace('/', '');
        var manufactorsList = [];
		 
        if(atb != '')
		  atbList = atb.split(',');

		if(manufactors != '')
		  manufactorsList = manufactors.split(',');  

		for (let i = 0; i < atbList.length; i++) {
          $('input[id=check_'+atbList[i]+']').prop('checked', true);
		}

		for (let i = 0; i < manufactorsList.length; i++) {
          $('input[id=manufactor_'+manufactorsList[i]+']').prop('checked', true);
		}

		/* var listAttribute = '';

        $('.filter_attribute').each(function(){
            if($(this).is(':checked') && !$(this).hasClass('filter_manufactor'))
            listAttribute = listAttribute + $(this).attr('data') + ',';
        })

		var currentURL = window.location.href;
        //alert(currentURL);

        $('.product .row_product').hide();
        $('.loading').show();

        $.ajax({
            url: (!currentURL.includes('order') && !currentURL.includes('atb') && !currentURL.includes('manufactor_id') ) ? currentURL + '?filter_atb=true' + '&atb_id=' +listAttribute : currentURL + '&filter_atb=true' + '&atb_id=' +listAttribute,  // URL to fetch data from
            method: 'GET', // HTTP method
            success: function(data) {
               $('.product .row_product').html(data);
               $('.product .row_product').show();
               $('.loading').hide();

               if($('#list-view').hasClass('active'))
                 $('#list-view').click();

               if($('#grid-view').hasClass('active'))
                 $('#grid-view').click();
            },
            error: function(xhr, status, error) {
                // Handle error response
                console.error(status + ": " + error); // Log error to console
            }
        }); */
	}

	var targetClass = 'div.start';

	// Get the top position of the element with the specified class
	var targetPosition = $(targetClass).first().offset().top;
	
	// Perform the scroll animation
	$('html, body').animate({
		scrollTop: targetPosition 
	}, 'slow');

	$(window).on("load", function() {
      prefillATB();
	});

	$('.resetfilter').on('click', function(e) {
	  e.preventDefault();
	  resetFilter();
	});

</script> 
