{{ header }}
<main>
		<section>
				<div class="container text-center btn-bar">                    
					<div class="mb-0">
						<div class="me-auto hstack gap-lg-3 gap-1 justify-content-end">
                        	<a href="javascript:history.back()" class="btn_cta btn btn-default">ZURÜCK</a>						
							{% if logged %}
		
							{% else %}
								<a href="./index.php?route=account/account" class="btn_cta btn btn-lg py-2 text-uppercase rounded-0">LOGIN</a>			
							{% endif %}
							<a href="./vorbestellen" class="btn_cta btn btn-info btn-lg py-2 btn-light text-uppercase rounded-0">Rezept hochladen</a>
						</div>
					</div>
				</div>
		</section>		
		
		<section class="product detail-product">
			<div class="container container_product">
				<div class="detail">
					<div class="row">
						<div class="col-12 col-md-6 col-left">	
							
								<div class="mobileOn">			
									{% set matching_attributes = [] %}
									
									{% for group in attributes_list %}
										{% set listAttribute = group.list %}
									
										{% for attribute in listAttribute %}
											{% set name_lower = attribute.name|lower %}
											{% if 'hybrid' in name_lower or 'sativa' in name_lower or 'indica' in name_lower %}
												{% set matching_attributes = matching_attributes|merge([attribute.name]) %}
											{% endif %}
										{% endfor %}
									{% endfor %}
									
									{% if matching_attributes is not empty %}
										<div class="detail-hybrid">
											<span class="badge bg-secondary {{ matching_attributes|join(', ') }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ matching_attributes|join(', ') }}">
												{{ matching_attributes|join(', ') }}
											</span>
										</div>
									{% endif %}									
								</div>
								
							<div class="detail-hl">			
								<h1>{{ heading_title }}</h1>
							</div>
							
							<div class="detail-price">			
								<div class="price_detail"><b>{{ price }}</b><span>Gramm</span></div>
							</div>
							
							
								<div class="mobileOn">			
									<div class="detail-stock">			
										{{ stock }}
									</div>
								</div>
									
									
							<div class="detail-img">
								<ul class="thumbnails">
									{% if thumb %}
									<li><a class="thumbnail" href="{{ popup }}" title="{{ heading_title }}"><img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" class="img-fluid" /></a></li>
									{% endif %}
									{% if images %}
									{% for image in images %}
									<li class="image-additional"><a class="thumbnail" href="{{ image.popup }}" title="{{ heading_title }}"> <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a></li>
									{% endfor %}
									{% endif %}
								</ul>
							</div>
							
							<div class="text5 text-uppercase">
								DETAILIERTE INFORMATIONEN
							</div>
							<hr class="my-lg-3 my-2">
							<div class="description">
							{{ description }}
							</div>
														
						</div>
						
						<div class="col-12 col-md-6 col-lg-6 col-right">
							<div class="mobileOn mb-5"></div>
							<div class="mobileOff">
								{% set matching_attributes = [] %}
								
								{% for group in attributes_list %}
									{% set listAttribute = group.list %}
								
									{% for attribute in listAttribute %}
										{% set name_lower = attribute.name|lower %}
										{% if 'hybrid' in name_lower or 'sativa' in name_lower or 'indica' in name_lower %}
											{% set matching_attributes = matching_attributes|merge([attribute.name]) %}
										{% endif %}
									{% endfor %}
								{% endfor %}
								
								{% if matching_attributes is not empty %}
									<div class="detail-hybrid">
										<span class="badge bg-secondary {{ matching_attributes|join(', ') }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ matching_attributes|join(', ') }}">
											{{ matching_attributes|join(', ') }}
										</span>
									</div>
								{% endif %}
								
								<div class="detail-stock">			
									{{ stock }}
								</div>
							</div>
							
							<div class="mb-lg-5 mb-4 text-black">
								<table class="table table-bordered">
									<tbody>
									{% for attribute_group in attribute_groups %}	
										{% for attribute in attribute_group.attribute %}
											{% if attribute.text is not empty %}
											<tr>
												<td>{{ attribute.name }}</td>
												<td>
													{% if "bestrahlt" in attribute.text %}
														<span class="icon"><img src="images/{{ attribute.text }}.svg" class="icon_attribute" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ attribute.text }}" "="">
														</span>
														{{ attribute.text }}
													{% else %}
														{{ attribute.text }}
													{% endif %}
												</td>
											</tr>
											{% endif %}
										{% endfor %}
											
										{% endfor %}
										
										{% if image_manufacturer is not empty %}
										<tr>
											<td>Hersteller</td>
											<td><img src="mthumb.php?h=80&amp;src=image/{{ image_manufacturer }}" class="img_manufacture"/></td>
										</tr>
										{% endif %}											
							
										{% for group in attributes_list %}
											{% if group.name != "THC" and group.name != "Genetik" %}
												<tr>
													<td>{{ group.name }}</td>
													<td>
														{% set listAttribute = group.list %}
														{% for attribute in listAttribute %}
															{% if attribute.image is not empty %}
																<span class="icon">
																	<img src="uploads/icon/{{ attribute.image }}" class="icon_attribute"  
																		 data-bs-toggle="tooltip" data-bs-placement="top" title="{{ attribute.name }}" />
																</span>
															{% endif %}
														{% endfor %}
													</td>
												</tr>
											{% endif %}
										{% endfor %}
							
									</tbody>
								</table>							
							</div>
							

	<!-- CHECK -->				
							<!-- CHECK -->				
								<div class="mobileOn mt-5">			
									<div class="detail-hl">			
										<h1>{{ heading_title }}</h1>
									</div>
									
									<div class="detail-price">			
										<div class="price_detail"><b>{{ price }}</b><span>Gramm</span></div>
									</div>
				
									<a href="./vorbestellen" class="btn_cta btn btn-info btn-lg py-2 btn-light text-uppercase rounded-0">Rezept hochladen</a>

									<a href="javascript:history.back()" class="btn_cta btn btn-default">ZURÜCK</a>						

								</div>
							<!-- CHECK -->		
	<!-- CHECK -->				


							
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script> 
<script type="text/javascript"><!--
$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
				$('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				$('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

				$('html, body').animate({ scrollTop: 0 }, 'slow');

				$('#cart > ul').load('index.php?route=common/cart/info ul li');
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});
//--></script> 
<script type="text/javascript"><!--
// $('.date').datetimepicker({
// 	language: '{{ datepicker }}',
// 	pickTime: false
// });
// 
// $('.datetime').datetimepicker({
// 	language: '{{ datepicker }}',
// 	pickDate: true,
// 	pickTime: true
// });
// 
// $('.time').datetimepicker({
// 	language: '{{ datepicker }}',
// 	pickDate: false
// });

$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
		clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script> 
<script type="text/javascript"><!--
$('#review').delegate('.pagination a', 'click', function(e) {
	e.preventDefault();

	$('#review').fadeOut('slow');

	$('#review').load(this.href);

	$('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id={{ product_id }}',
		type: 'post',
		dataType: 'json',
		data: $("#form-review").serialize(),
		beforeSend: function() {
			$('#button-review').button('loading');
		},
		complete: function() {
			$('#button-review').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
				$('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
			}
		}
	});
});

$(document).ready(function() {
	$('.thumbnails').magnificPopup({
		type:'image',
		delegate: 'a',
		gallery: {
			enabled: true
		}
	});
});
//--></script> 
{{ footer }} 
