{{ header }}
<main>
        <section class="product pt-lg-3 pt-0 mt-3">
            <div class="container container_product">
                <div class="box_vang bg-warning text-center py-lg-4 py-1 px-4 d-flex align-items-center justify-content-center">
                    <img class="icon_whatsapp me-1" src="images/whatsapp.svg" alt=""><a href="#"><span class="text1"><strong>Preis-Check?</strong> JETZT PASSWORT PER WHATSAPP ANFORDERN! ᐳ</span></a>
                </div>
                <div class="detail">
                <div class="row g-0 justify-content-between">
                    <div class="col-lg-auto col-left">
                        <div class="text3 mb-2"><a href="javascript:history.back()">ZURÜCK</a></div>						
						
						<div class="mobileOn">
							<div class="text1 mb-lg-4 mb-3 mt-4">{{ heading_title }}</div>
						  	{% if login %}
	  							{% if price %}
								  	<div class="price_detail text2 mb-3">{{ price }} / Gramm</div>
								{% endif %}
							{% endif %}
                        </div>
						
						<div class="mb-lg-5 pb-3">
						<ul class="thumbnails">
            {% if thumb %}
            <li><a class="thumbnail" href="{{ popup }}" title="{{ heading_title }}"><img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a></li>
            {% endif %}
            {% if images %}
            {% for image in images %}
            <li class="image-additional"><a class="thumbnail" href="{{ image.popup }}" title="{{ heading_title }}"> <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a></li>
            {% endfor %}
            {% endif %}
          </ul>
						</div>
                        <div class="mb-lg-4 mb-2"><a href="./vorbestellen" class="btn btn_cta btn-warning">JETZT Rezept hochladen</a></div>
                        <!--<div class="mb-lg-5 mb-4"><a class="btn btn_cta btn-warning disabled">IN DEN WARENKORB</a></div>-->
						
						<hr>
						
						{% for group in attributes_list %}
						<div class="attribute_product">
							<div class="name_group_attribute">{{ group.name }}</div><br>
							{% set listAttribute = group.list %}
							<ul>
								{% for attribute in listAttribute %}
									{% if attribute.image is not empty %}
										<li class="icon"><img src="uploads/icon/{{ attribute.image }}" class="icon_attribute"/>{{ attribute.name }}</li>
									{% else %}
										<li>{{ attribute.name }}</li>
									{% endif %}
								{% endfor %}
							</ul>
						</div>
						{% endfor %}
                    </div>
					
                    <div class="col-lg-6 col-right ps-lg-5">
                        <div class="text1 mb-lg-4 mb-3">{{ heading_title }}</div>
						<!-- <p class="name_category">{{ category }} :   {{ name_category }}</p> -->
                        
          				{% if login %}
						  	{% if price %} #}
          						<div class="price_detail text2 mb-3">{{ price }} / Gramm</div>
          					{% endif %}
						{% else %}
							<div class="mb-3"><a href="./index.php?route=account/account" class="price_no_log">{{ price_no_log }}</a></div>
      					{% endif %}
						  
						  
                        <!--<div class="text3 mb-lg-2 mb-1 font_Inter">BESCHREIBUNG</div>-->												
						
                        <div class="text4 mb-lg-5 mb-4 font_Inter text-black">
                        <table class="table table-bordered">
                			{% for attribute_group in attribute_groups %}
                				<!-- 
								<thead>
                  					<tr>
                    					<td colspan="2"><strong>{{ attribute_group.name }}</strong></td>
                  					</tr>
                				</thead>
								-->
                				<tbody>

								{% for attribute in attribute_group.attribute %}
                					<tr>
                  						<td>{{ attribute.name }}</td>
                  						<td>{{ attribute.text }}</td>
                					</tr>
                				{% endfor %}
									<tr>
										  <td>Kultivar</td>
										  <td>{{ manufacturer }}</td>
									</tr>
									<tr>
										  <td>{{ text_stock }}</td>
										  <td>{{ stock }}</td>
									</tr>
                  			</tbody>
                			{% endfor %}
              			</table>
						  
                        </div>
                        
						<div class="text5 text-uppercase">
                            DETAILIERTE INFORMATIONEN
                        </div>
                        <hr class="my-lg-3 my-2">
                        <div class="text6 text-secondary font_Inter">
                        {{ description }}
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
    </main>
<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script> 
<script type="text/javascript"><!--
$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
				$('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				$('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

				$('html, body').animate({ scrollTop: 0 }, 'slow');

				$('#cart > ul').load('index.php?route=common/cart/info ul li');
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script> 
<script type="text/javascript"><!--
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id={{ product_id }}',
		type: 'post',
		dataType: 'json',
		data: $("#form-review").serialize(),
		beforeSend: function() {
			$('#button-review').button('loading');
		},
		complete: function() {
			$('#button-review').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
				$('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
			}
		}
	});
});

$(document).ready(function() {
	$('.thumbnails').magnificPopup({
		type:'image',
		delegate: 'a',
		gallery: {
			enabled: true
		}
	});
});
//--></script> 
{{ footer }} 
