{% if true %}
<ul class="navbar-nav mx-auto">
	  {% for header in headermenu %} 
			<li class="nav-item">
			{% if header.link %}
			<a class="nav-link p-0" href="{{ header.link }}">
			{% else %}
			<a class="nav-link p-0" href="#">
			{% endif %}
			<img class="icon_nav me-2" src="image/{{ header.image }}" alt="">
			{{ header.title }}
			</a>
			{% if header.sub_title %}
				<div class="dropdown-menu">	
				<div class="dropdown-inner">
				<ul class="list-unstyled">
				{% for subtitle in header.sub_title %}
				<li>
					{% if subtitle.href %}				
					<a href="{{ subtitle.href }}">{{ subtitle.title }}</a>
					{% else %}
					<a href="{{ subtitle.link }}">{{ subtitle.title }}</a>	
					{% endif %}
					{% if header.sub_title %}
				
				<ul>
				{% for subtitle in subtitle.sub_title %}
				<li>
					{% if subtitle.href %}						
					<a href="{{ subtitle.href }}">{{ subtitle.title }}</a>
					{% else %}
					<a href="{{ subtitle.link }}">{{ subtitle.title }}</a>	
					{% endif %}
			</li>
				{% endfor %}
					
				</ul>				
				{% endif %}
			</li>
				{% endfor %}
				</ul>				
				</div>
				</div>
				
				{% endif %}	
			</li>			
			{% endfor %}
        {% for category in categories %}
        {% if category.children %}
        <li class="dropdown"><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
          <div class="dropdown-menu">
            <div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
              <ul class="list-unstyled">
                {% for child in children %}
                <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                {% endfor %}
              </ul>
              {% endfor %}</div>
            <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
        </li>
        {% else %}
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
{% endif %} 