<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
<meta charset="UTF-8" />
<title>{{ title }}</title>
<base href="{{ base }}" />

<style>
  body { font-family: Arial; font-size: 12px; padding:0; }
  .container { padding-top:7px; margin:0; }
  .container.c1 { padding:0; }
  b { font-style: normal; }
  td p { padding-left: 4px; }
  p { margin: 6px 0; }
  .small { font-size: 8px; }
  p.med { font-size: 9px; }
  .logo { display:block; width: 120px; margin-top: 0; padding-left: 4px; }
  .page-break { page-break-before: always; }
</style>
</head>
<body>
  {% set counter = 1 %}
  {% for order in orders %}
    {% for product in order.product %}
<div class="container c{{ counter }}"> 
  <table style="width:90%"><tr><td nowrap>   
        <table class="page-break">
          <tr>
            <td colspan="2">
              <p><b>Hergestellt für {{ order.firstname }} {{ order.lastname }}</b>  </p>            
            </td>
            <td>
              <p>Verschreibungspflichtig!</p>
            </td>
          </tr>
          <tr>
            <td>
              <img src="https://svapo.de/images/Logo-SVAPO.png" class="logo" />
              
              <p class="small">
              Schloss Apotheke<br />
              Apotheker Paschalis Papadopoulos<br />
              {{ order.store_address }}<br />
              Tel. Nr. {{ order.store_telephone }}<br />
              Hergestellt am: {{ order.datum }}<br />
              <!-- Verwendbar bis: {{ product.jan }} -->
              Verwendbar bis: {{ order.until }}
              </p>
              
            </td>
            <td width="20"> &nbsp; </td>
            <td>
                  <p><b>{{ product.name }}</b></p>
                  <p><b>{{ product.manufacturer_id }}</b></p>
                  <table width="100%"><tr>
                    <td>Charge: {{ product.upc }}</td>
                    <td align="right"><p><b>{{ product.quantity }}g</b></p></td>
                  </tr></table>
            </td>          
          </tr>
          <tr>
            <td colspan="3"> 
              <p class="med">
                Anwendung: nach schriftlicher Anweisung des Arztes verdampfen und inhalieren.<br />
                Lichtgeschützt, trocken, unter 25° C lagern! Außer Reichweite von Kindern aufbewahren!
              </p>
            </td>
          </tr>
        </tbody>
      </table> 
  </td></tr></table>
</div>

      {% set counter = counter + 1 %}
    {% endfor %}
  {% endfor %}
</body>
</html>
